<html>

<head>
    <title>@ViewData["Title"] - layout pernsonelise</title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <td> layout personalise1</td>
            <td> layout personalise2</td>
        </tr>
    @RenderBody()
     </table>
</body>


</html>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
